.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
  background: linear-gradient(90deg, #d0d0d0 25%, #b0b0b0 50%, #d0d0d0 75%);
  background-size: 200% 200%;
}

@keyframes pulse {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
